<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/leads">Go back</a>
    <hr />
    <h4>LEAD DETAILS PAGE OF {{lead.first_name}} {{lead.last_name}}</h4>
    <hr />
    <a href="{% url 'leads:lead-update' lead.id %}"> Update </a>
    <a href="{% url 'leads:lead-delete' lead.id %}"> Delete </a>
  </body>
</html>
